<ol>
    <li ng-repeat="item in ctrl.found">

        <h3>
            ITEM NAME
        </h3>
        <p>
            {{item.name}}
        </p>

        <h3>
            DESCRIPTION
        </h3>
        <p>
            {{item.description}}
        </p>


        <button class="btn btn-danger"  ng-click="ctrl.onRemove({index: $index})">Don't want this one!
        </button>

    </li>

</ol>

<!-- <div class="error" ng-if="ctrl.errorMessage.noInput">
    {{ctrl.errorMessage.noInput}}
</div>

<div class="error" ng-if="ctrl.errorMessage.noMatch">
    {{ctrl.errorMessage.noMatch}}
</div> -->
